node_modules/
coverage/
.DS_Store
yarn.lock
yarn-error.log
package-lock.json

.vscode/
*/**/jsconfig.json

.vimrc
*.swp
*.swo

examples/**/build/
examples/**/static/dist/
examples/**/static/manifest.json
examples/**/webpack-assets.json
examples/**/webpack-stats.json
