node_modules/
coverage/
.DS_Store
yarn.lock
package-lock.json
.vscode/
.vimrc
*.swp
*.swo
examples/**/static/dist/
examples/**/static/manifest.json
examples/**/webpack-assets.json
examples/**/webpack-stats.json
