node_modules/
coverage/
.DS_Store
.idea/
yarn.lock
yarn-error.log
package-lock.json
yarn-error.log

.vscode/
*/**/jsconfig.json

.vimrc
*.swp
*.swo

packages/**/dist/
examples/**/build/
examples/**/public/i18n/

#sandbox:
examples/**/static/dist/
examples/**/static/manifest.json
examples/**/webpack-assets.json
examples/**/webpack-stats.json

examples/**/config/*
!examples/**/config/custom-environment-variables.*
!examples/**/config/default.*
