{
  "presets": [
    "react",
    [
      "env",
      {
        "useBuiltIns": true,
        "targets": {
          "node": "current",
          "include": ["transform-export-extensions", "transform-decorators-legacy"],
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }
    ]
  ],

  "plugins": [
    "graphql-tag",
    "inline-import-graphql-ast",
    [
      "module-resolver",
      {
        "root": ["./node_modules", "./src", "./node_modules/@deity/falcon-core/src"],
        "alias": {
          "@deity/falcon-core": "@deity/falcon-core/src"
        }
      }
    ],
    "transform-export-extensions",
    "add-module-exports",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-react-display-name"
  ],

  "env": {
    "development": {
      "plugins": []
    },
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  },
  "ignore": ["**/adyen.encrypt.nodom.js"]
}
