body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  padding: 0;
  > li {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

img {
  border: 0;
}

img,
object,
video,
embed {
  height: auto;
  max-width: 100%;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: 100%;
}

body {
  color: $client-font-color;
  font-family: $client-font;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  font-size: 1.4rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  font-weight: 300;
  line-height: 1.1;
  font-size: 2.6rem;
  margin-top: 0;
  margin-bottom: 2rem;
  @include sm {
    font-size: 40px;
    margin-bottom: 40px;
  }
}

h2 {
  font-weight: 300;
  line-height: 1.1;
  font-size: 2.6rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

h3 {
  font-weight: 600;
  line-height: 1.1;
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h4 {
  font-weight: 700;
  line-height: 1.1;
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h5 {
  font-weight: 700;
  line-height: 1.1;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h6 {
  font-weight: 700;
  line-height: 1.1;
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

a {
  color: $client-primary;
  text-decoration: none;
  &:visited {
    color: $client-primary;
    text-decoration: none;
  }

  &:hover {
    color: darken($client-primary, 10%);
    text-decoration: underline;
  }

  &:active {
    color: $client-primary;
    text-decoration: underline;
  }
}

form {
  label {
    font-weight: 600;
    margin: 0 0 8px;
    display: block;
  }
}

input[type='text'],
input[type='password'],
input[type='url'],
input[type='tel'],
input[type='search'],
input[type='number'],
input[type='datetime'],
input[type='email'] {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #c2c2c2;
  border-radius: 1px;
  font-family: $client-font;
  font-size: 14px;
  height: 32px;
  line-height: 1.42857143;
  padding: 0 9px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  box-shadow: none;
  letter-spacing: 1px;
}

select {
  margin-bottom: 20px;
}

select:disabled {
  opacity: 0.5;
}

select[multiple='multiple'] {
  height: auto;
  background-image: none;
}

textarea {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #c2c2c2;
  border-radius: 1px;
  font-family: $client-font;
  font-size: 14px;
  height: auto;
  line-height: 1.42857143;
  margin: 0;
  padding: 10px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}

input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

form {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

address {
  font-style: normal;
}

*:focus {
  box-shadow: none;
  outline: 0;
}

label,
a {
  @include transition();
}

.error {
  color: #ff0000;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-loader {
  display: block;
  margin: 0;
  height: 28px;
  width: 28px;
  animation: spinner 1.4s infinite linear;
  border: 8px solid #d1d1d1;
  border-right-color: transparent;
  border-radius: 50%;
  clear: both;
  position: relative;
  @include calc(left, '50% - 14px');
}
