.dropdown-filter {
  display: inline-block;
  float: left;
  .dropdown {
    button {
      font-size: 12px;
      color: $filter-color;
      border: 0;
      text-transform: uppercase;
      position: relative;
      padding: 0 12px;
      &:hover,
      &:focus,
      &:active {
        background: transparent;
        box-shadow: none;
        color: black;
      }
      .caret {
        width: 14px;
        height: 14px;
        border: 0;
        vertical-align: middle;
        margin-left: 10px;
        position: relative;
        &:after {
          @extend %deity-icon;
          content: '\6a';
          position: absolute;
          left: -1px;
          top: 0;
          width: 14px;
          text-align: center;
          @include transition();
        }
      }
    }
    ul {
      right: 0;
      left: auto;
      @include calc(top, '100% + 5px');
      li {
        padding: 0;
        a {
          font-size: 10px;
          text-transform: uppercase;
          color: $filter-color;
          padding: 3px 10px;
        }
      }
    }
    &.open {
      button#dropdown-size-large {
        background: transparent;
        box-shadow: none;
        outline: 0;
        color: $filter-color;
        .caret {
          transform: rotate(180deg);
          &:after {
            left: -1px;
            top: 2px;
          }
        }
      }
    }
    &:last-of-type {
      border-right: 0;
    }
  }
}
