.media-gallery {
  margin-bottom: 20px;
  .image-gallery-slides {
    overflow: visible;
  }
  .image-gallery-slide:not(.center) {
    display: none;
    z-index: -1;
    opacity: 0;
  }

  .image-gallery-slide.center {
    z-index: 3;
  }

  @include sm {
    margin-bottom: 35px;
  }
  .image-gallery-content {
    @include sm {
      padding: 0 15px;
    }

    .image-gallery-play-button,
    .image-gallery-fullscreen-button,
    .image-gallery-left-nav,
    .image-gallery-right-nav {
      &:before {
        color: #000;
        text-shadow: none;
        @include transition();
      }
      &:hover {
        &:before {
          color: #333;
        }
      }
    }
    .image-gallery-left-nav,
    .image-gallery-right-nav {
      display: none;
      @include sm {
        display: block;
        top: auto;
        @include calc(top, '50% - 10px');
        font-size: 36px;
        padding: 0;
        height: auto;
        &:before {
          font-weight: 400;
          box-shadow: none;
          color: lighten(#333, 40%);
        }
      }
    }
    .image-gallery-thumbnail {
      border-width: 2px;
      &.active {
        border-color: #ff5501;
        img {
          border: 0;
          @include sm {
            border: none;
          }
        }
      }
    }
    .image-gallery-thumbnails-container {
      padding: 20px 0 0;
      @include sm {
        padding: 20px 0 0;
      }
    }
  }
}
