.home {
  .section-title {
    text-align: center;
    margin: 10px 0 25px;
    h2 {
      font-size: 3.8rem;
      margin: 0 0 5px;
      position: relative;
      &:before {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        background: -moz-radial-gradient(center, ellipse cover, #fff 25%, #cecece 100%);
        background: -webkit-gradient(
          radial,
          center center,
          0,
          center center,
          100%,
          color-stop(25%, #fff),
          color-stop(100%, #cecece)
        );
        background: -webkit-radial-gradient(center, ellipse cover, #fff 25%, #cecece 100%);
        background: -ms-radial-gradient(center, ellipse cover, #fff 25%, #cecece 100%);
        background: radial-gradient(ellipse at center, #fff 25%, #cecece 100%);
        position: absolute;
        bottom: 0;
        z-index: 0;
      }
    }
    p {
      font-size: 1.8rem;
      margin: 0;
    }
  }
}
